<div class="mt-5" *ngIf="userList.length">
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th scope="col">
                    <button (click)="toggleSort('username')" class="btn btn-sm border-0 fw-bold text-white">
                        username
                    </button>
                </th>
                <th scope="col">
                    <button (click)="toggleSort('name')" class="btn btn-sm border-0 fw-bold text-white">
                        First
                    </button>
                </th>
                <th scope="col">
                    <button (click)="toggleSort('surname')" class="btn btn-sm border-0 fw-bold text-white">
                        Last
                    </button>
                </th>
                <th scope="col">
                    <button class="btn btn-sm border-0 fw-bold text-white">
                        Email
                    </button>
                </th>
                <th scope="col">
                    <button class="btn btn-sm border-0 fw-bold text-white">
                        Address
                    </button>
                </th>
                <th scope="col">
                    <button class="btn btn-sm border-0 fw-bold text-white">
                        Phone
                    </button>
                </th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr *ngFor="let user of userList">
                <td>
                    {{ user.username }}
                </td>
                <td>
                    {{ user.name }}
                </td>
                <td>
                    {{ user.surname }}
                </td>
                <td>
                    {{ user.email }}
                </td>
                <td>
                    {{ user.address.area }} <br>
                    {{ user.address.road }}
                </td>
                <td>
                    <div *ngFor="let phone of user.phone">
                        <strong> {{ phone.type }} </strong>
                        <br>
                        {{ phone.number }}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>